
.wrapper {
	width: 720px;
	margin: 25px auto;
}

.mongos {
	border: 1px solid #ccc;
	-moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	padding: 10px;
}

.replset {
	background-color: #fff;
	border-collapse: collapse;
	width: 700px;
}

.replset td, .replset th {
	border: 1px solid #ddd;
}
.replset th {
	background: #eee -moz-linear-gradient(top, #F8F8F8, #E8E8E8);
	background: #eee -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E8E8E8));
}
.replset_row { background-color: #CFC }
.replset_row.primary { background-color: #5C5 }
.replset_row.down { background-color: #FCC }
.replset_row.down .health { color: #A00 }
.replset_row.down .state { color: #888 }
.replset_row .status { color: #888 }
.replset_row td {
	padding: 2px;
}

